{% extends "base.html" %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!--FORM DATA MAY BE WORNG!!!!-->
<div class="p-3" >

    <h1>Create User</h1>
    <br>
    <form action="" method="post" name="add_user">
        {{ form.hidden_tag() }}
        <!--Will provide mutiple forms with validation for each of them-->
        <p> Enter name:</p>
        <p>
           {{ form.name(class_='form-control')}}<br>
           {% for error in form.name.errors %}
           [{{ error }}]
           {% endfor %}
        </p>
        <p> Enter module code: </p>
        <p>
           {{ form.age(class_='form-control')}}<br>
           {% for error in form.age.errors %}
           [{{ error }}]
           {% endfor %}
        </p>
    
        <div class="form-group">
          <label for="comment">Enter Module description:</label>
        <p>
           {{ form.module_desc(class_='form-control')}}<br>
           {% for error in form.module_desc.errors %}
           [{{ error }}]
           {% endfor %}
        </p>
       </div>
    
       <p> Enter date of moduel  (in form yyyy-mm-dd): </p>
       <p>{{ form.deadline(class_='form-control')}}</p>
          {% for error in form.deadline.errors %}
          [{{ error }}]
          {% endfor %}

        <p>Tick if assesment has been completed: </p>
        <p>
           {{ form.is_complete}}<br>
           {% for error in form.is_complete.errors %}
           [{{ error }}]
           {% endfor %}
        </p>
    
    
        <!--Button that will submit the form once activated-->
        <p><input type="submit" class='btn btn-warning btn-block' value="submit"></p>
    
    </form>
    </div>



{% endblock %}


